<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <h2 class="text-center">Title</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos explicabo labore ipsum aspernatur expedita molestias
                    quae necessitatibus temporibus fugiat at. Quibusdam, esse!
                    Temporibus sint modi odit obcaecati, laudantium perspiciatis sapiente.
                </p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/parallax.jpg" class="img-rounded " alt="">
            </div>
            


        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/parallax.jpg" class="img-rounded " alt="">
            </div>

            <div class="col-md-5">
                <h2 class="text-center">Title</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos explicabo labore ipsum aspernatur expedita molestias
                    quae necessitatibus temporibus fugiat at. Quibusdam, esse!
                    Temporibus sint modi odit obcaecati, laudantium perspiciatis sapiente.
                </p>
            </div>

            
        </div>
    </div>
</div>
<div class="parallax"></div>
<div class="section">
    <div class="container">
        <h1>Nuestro Menú</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/Cupcakegroup.jpg" class="img-rounded " alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/img/donuts.jpg" class="img-rounded" style="width: 70%; height: 70%;" alt="">
            </div>
            
            <div class="col-md-4">
                <img src="assets/img/Cantinflas.jpg" class="img-rounded" style="width: 70%; height: 70%;" alt="">
            </div>
        </div>
    </div>
</div>
<div class="parallax"></div>