<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/fondo2.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                    </div>
                    <img src="assets/img/bon gu.png" style="width: 100%;">
                </div>
            </div>
        </div>


    </div>
    <div class="main">
        <app-basicelements></app-basicelements>
        <!-- <app-navigation></app-navigation> -->
        <div class="section">
            <div class="container">
                
            </div>
        </div>
    </div>